<footer>
    <div class="footer-content">
        <div class="footer-contact">
            <p>
                <img src="assets/icons/mail.svg" class="footer-icon" alt="Mail">
                <!--<a href="mailto:elisabeth.gehdt@gmail.com">elisabeth.gehdt@gmail.com</a>-->
            </p>
            <p>
                <img src="assets/icons/phone.svg" class="footer-icon" alt="Telefon">
                <!--<a href="tel:+49 176 72924450">+49 176 72924450</a>-->
            </p>
            <p>
                <img src="assets/icons/address.svg" class="footer-icon" alt="Adresse">
                <!--<a>Blaumeisenweg 47, 65205 Wiesbaden</a><br>-->
            </p>
        </div>
        <p class="footer-credits" data-i18n="footer_end">Design & Entwicklung von Elisabeth Gehdt</p>
    </div>
</footer>