@font-face {
    font-family: "UeberschriftFont";
    src: url("../fonts/RozhaOne.ttf") format("truetype");
}

@font-face {
    font-family: "TextFont";
    src: url("../fonts/OutfitVariable.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "UeberschriftFont", serif;
    color: #5B191F;
}
/*---------------------------header---------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header-name {
    font-family: "UeberschriftFont", serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav a {
    text-decoration: none;
    color: inherit;
}

.lang-switcher {
    display: flex;
    flex-direction: column; /* Buttons übereinander */
    gap: 0.2rem;
}

.lang-switcher button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: "TextFont", sans-serif;
}
/*---------------------------index---------------------------------*/
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50rem;
    margin: 0 auto;
    gap: 1rem;
}

.hero-title {
    font-size: 4rem;
    line-height: 1.2;
    flex: 1;
    margin: 0;
}

.profile-pic-wrapper {
    padding: 0.6rem;                  /* Abstand zwischen Bild und Rand */
    border: 0.25rem solid #869F3B;  
    border-bottom: none;    /* Rand in grün */
    border-radius: 50% 50% 0 0 / 35% 35% 0 0; /* gleiche Form wie Bild */
    margin-bottom: 0;
}

.profile-pic {
    width: 100%;
    max-width: 18rem;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 50% 50% 0 0 / 35% 35% 0 0;
    display: block;
    margin-bottom: -0.6rem;
}

.intro-section {
    background-color: #adc660;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.intro-text {
    max-width: 50rem;
    margin: 0 auto;
}

.intro-text p {
    font-size: 1.2rem;
    /*color: #F9F4ED;*/
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #F9F4ED;
    font-family: "TextFont", sans-serif;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}